<h2 style="text-align:center;font-weight:strong"><%= current_user.first_name %> <%= current_user.last_name %>  </h2>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-offset-1">
			<table class="table">
				<caption style="text-align:center;font-size:16px;"><strong>Client Detail</strong></caption>
					<tr>
						
						<th>Name</th>
						<th>Address</th>
					</tr>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.first_name %>&nbsp;<%= user.last_name %></td>
						<td><%= user.address %></td>
						<td><%= link_to "Remove", admins_index_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

